/*
 * Colors: https://www.w3schools.com/colors/colors_names.asp
 * @author Marc Steiner
 */

.background {
    -fx-background-color: #1d1d1d;
    /*FULL BLACK -fx-background-color: #000000;*/
}

.background-popup {
    -fx-background-color: #1A1A1A;
    /*FULL BLACK -fx-background-color: #000000;*/
}

.background-rectangle {
    -fx-background-color: #1d1d1d;
    /*FULL BLACK -fx-background-color: #000000;*/
}

.background-rectangle {
    -fx-background-color: #1d1d1d;
    /*FULL BLACK -fx-background-color: #000000;*/
}

.menu-background {
    -fx-background-color: #FFFFFF;
}

/*e.g Statistics "VALUE of Total Ausgaben --> totalSpent" etc */
.label {
    -fx-font-size: 11.5pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.8;
}

.label-header-big {
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-font-weight: bold;
}

/*e.g Statistics "Total Ausgaben" etc */
.label-header-mid {
    -fx-font-size: 12.5pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-font-weight: bold;
}

.label-titel-view {
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-font-weight: bold;
}

.label-main-titel-view {
    -fx-font-size: 22pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-text-inner-color: white
}


.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.anchor {
	-fx-box-border: transparent;
}


.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane:vertical > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,0%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.button {
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
/* 
.button:focused {
    -fx-border-color: #1e90ff;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
*/


.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button-dashboard {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}


.dialog-pane{
    -fx-background-color: #1A1A1A;
}
.dialog-pane > *.button-bar > *.container{
    -fx-background-color: #1A1A1A;
}
.dialog-pane > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.dialog-pane:header *.header-panel{
    -fx-background-color: #1A1A1A;
}
.dialog-pane:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #292929;
}



